<a href="https://colab.research.google.com/github/qjpoantipolo/CPE009A-OOP/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Phyton Indentation

In [8]:
if 5 > 6:
  print ("Five is greater than 2!")
else:
  print ("ekis")

ekis

Phyton Comments

In [13]:
#This is a comment
if 5 > 2:
  print ("Five is greater than 2!") #comparison between 2 and 5

Five is greater than 2!

Phyton Variable

In [20]:
x = 1 #This is a single variable with value
a, b = 0, -1
a, b, c = 0, -1, -2
print (a)
print (b)
print (x)
b = "Kenneth"
print (b)

0
-1
1
Kenneth

Phyton Casting

In [21]:
b = "Kenneth" #This is a type of tring
b = int (4)
print (b)

b = float(4)
print (b)

4
4.0

Type() Function

In [25]:
x = 5
y = "John Paul"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

Double qoutes and Single qoutes

In [29]:
y = "John"
print (y)
z = 'Paul'
print (z)

John
Paul

Case Sensitive

In [30]:
a = 4
A = 'Kenneth' #"A" will not overwrite "a"

Multiple Variable

In [32]:
x, y, z = "one", "two", "three"
print (x, y, z)

one two three

One variale to Multiple Variable

In [33]:
x = y = z = "four"

print (x)
print (y)
print (z)

four
four
four

Output Variable

In [40]:
x = " is enjoying."
y = " Programming "
z = "Phyton"
print (z + y + x)

#Other way

x = "Phyton is "
y = "enjoying"
z = x + y
print (z)

Phyton Programming  is enjoying.
Phyton is enjoying

Arithmatic Operations

In [42]:
x, y = 5, 3
print (x + y)

x, y = 5, 3
sum = x + y
sum

8

8

Assignment Operators

In [45]:
a, b, c = 0, -1, 6
c%=3
c

0

Comparison Operators

In [51]:
x = 1
y = 1
x == y

True

Logical Operators

In [49]:
x = 1
x < 5 and x < 10

True

Identity Operators

In [53]:
a, b, c = 0, -1, 5
a is a

True