<a href="https://colab.research.google.com/github/qjpoantipolo/CPE009A-OOP/blob/main/Demo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Operations and Expressions in Phyton**

In [8]:
print(bool("Hello"))
print(bool(True))
print(bool(15))
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool())
print(bool([]))
print(bool({}))

True
True
True
False
False
False
False
False
False
False

**Funtions can Return a Boolean**

In [11]:
def myFunction():
  return True

print (myFunction())

True

In [14]:
def myFunc():
  return True

if myFunc():
  print("YES!")
else:
  print("NO!")

YES!

**TRY!**

In [15]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=b)

True
False
True

**Phyton Operators**

In [17]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**2)

15
5
50
2.0
0
3
100

**Phyton Bitwise Operators**

In [25]:
a=60
b=13
print(a&b)
print(a|b)
print(a^b)
a<<2

12
61
49

240

**Phyton Assignment Operators**

In [33]:
x=1
x+=3      #same as x = x+3
print(x)
x-=3      #same as x = x-3
print(x)
x*=3      #same as x = x*3
print(x)
x/=3      #same as x = x/3
print(x)
x%=3      #same as x = x%3
print(x)

4
1
3
1.0
1.0

**Logical Operators**

In [44]:
y=60
z=13

print(y>z)
print(y<z)
print(y>z and z>y)
print(y>z and z<y)
print(y>z or z>y)
print(not(y>z and z<y))

True
False
False
True
True
False

**Identity Operator**

In [45]:
print(y is z)
print(y is not z)

False
True

**Loop Statement**

In [47]:
#For Loop
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [54]:
#Break Statement
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x =="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [59]:
#Break Statement
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x =="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [60]:
#Break Statement
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x =="Thursday":
    print(x)

Thursday

In [55]:
#Looping through a string
for x in "week":
  print(x)

w
e
e
k

**The range() Function**

In [61]:
for x in range(6):
  print(x)
for x in range(2, 6):
  print(x)

0
1
2
3
4
5
2
3
4
5

**Nested Loops**

In [63]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [64]:
#While statement
i=1
while i<6:
  print(i)
  i+=1 #i = i + 1

1
2
3
4
5

In [65]:
#While with break statement
i=1
while i<6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

In [66]:
#Continue Statement
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

In [68]:
#The else Statement
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6